.banner-image {
    background-image: url('../../../assets/nav-banner/image85.png');
    background-size: cover;
    object-fit: cover; 
    object-position: center;
    padding-top: 150px; 
    height: 960px;
    width: auto;
  }

.event-fest-image {
    position: relative;
    background-image: url('../../../assets/home/image84.png');
    background-size: cover;
    background-position: center;
    object-fit: cover; 
    object-position: center; 
    overflow: hidden;
  }
.need-any-help-image {
    position: relative;
    background-image: url('../../../assets/home/Rectangle17.png');
    background-size: cover;
    background-position: center;
    object-fit: cover; 
    object-position: center; 
    overflow: hidden;
    border-radius: 30px;
  }


